<nav class="navbar navbar-light bg-light">
    <form class="form-inline">
        <input class="form-control mr-sm-2" name="searchFilter" type="search" placeholder="Search" aria-label="Search" 
            [(ngModel)]="searchFilter">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Type produit
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <button class="dropdown-item" type="button" (click)=filterTypes(type) *ngFor="let type of getTypes()">{{type}}</button>
            </div>
        </div>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Famille produit
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <button class="dropdown-item" type="button">Action</button>
                <button class="dropdown-item" type="button">Another action</button>
                <button class="dropdown-item" type="button">Something else here</button>
            </div>
        </div>
    </form>
</nav>
<table class="table table-hover">
    <thead>
        <tr>
        <th scope="col"><button type="button" class="btn btn-primary" (click)="hideImages()">{{isVisible ? 'Cacher' : 'Montrer'}} Image</button></th>
        <th scope="col">Produit</th>
        <th scope="col">Code</th>
        <th scope="col">Jour de dispo</th>
        <th scope="col">Prix</th>
        <th scope="col">Avis et Votes</th>
        <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of getProducts()">
            <th scope="row"><img src={{product.imageUrl}} [ngStyle]="{'visibility':isVisible ? 'visible' : 'hidden'}"
                    style="width:30px;height:30px;"/></th>
            <td><a [routerLink]="['/catalogue', product.productId, {search : searchFilter}]">{{product.productName}}</a></td>
            <td>{{product.productCode}}</td>
            <td>{{product.releaseDate}}</td>
            <td>{{product.price}}</td>
            <td>{{product.starRating}}</td>
            <td>Action</td>
        </tr>
    </tbody>
</table>