<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" [routerLink]="['/accueil']">Accueil <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" [routerLink]="['/catalogue']">Catalogue</a>
            <a class="nav-item nav-link" [routerLink]="['/inscription']">Inscription</a>
            <button (click)="Connect()">Connexion</button>
        </div>
    </div>
</nav>